.order-item-container{
    display: flex;
    flex-direction: column;
    
    width: 50%;
    margin-bottom: 8px;
    border-radius: 8px;
    border:2px solid var(--secondary-color-border);
}
.order-item-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--secondary-color-background);
    font-weight: 700;
    font-size: 16px;
    color: var(--primary-color-background);
    width: 100%;
    padding: 8px;
}
.order-item-number{
    color: var(--info-color-text);
    font-size:12px;
}
.product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.product-quantity{
    display: block;
    position: absolute;
    color: var(--info-color-text);
    transform: rotate(45deg);
    background-color: var(--secondary-color-background);
    width: 100%;
    bottom: 15%;
    left: -25%;
    text-align: center;
}