.short-product-card__EZulE {
    display: block;
    position: relative;
    width: 230.66px;
    height: 346px;
    padding: 26px 24px 20px 24px;
    font-size: 13px;
    color: var(--primary-color-text);
    box-sizing: border-box;
    transition: 0.2s linear;
    background-color: var(--white-color-background);
    &:hover {
        box-shadow: 0px 0px 10px 4px var(--grey-color-background);
        z-index: 5000;
    }
}

.image-container__SseT8 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
}

.image__OxuXC {
    height: 150px;
    width: 150px;
}

.no-image__WBU6M {
    height: 100%;
    width: 100%;
    stroke-width: 1;
    color: var(--secondary-color-text);
}

.info-container__hybl8 {
    display: grid;
    flex-direction: column;
    margin-top:12px;
}

.name__JYLq5 {
    display: block;
    padding: 0px 8px;
    margin: 0;
    font-weight: 500;
    text-align: justify;
    line-height: 19.5px;
    text-align: center;
}

.description__v1jJl {
    display: block;
    color: #6a6a6a;
    padding: 0px 8px;
    text-align: justify;
    transition: 0.2s linear;
}

.price__KrKT4 {
    display: block;
    font-weight: 600;
    margin: 8px 0px;
    text-align: center;
    align-self: flex-end;
}

.button-container__WiSvI {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}
.input-value__i3oh8 {
    width: 30px;
    font-size: 14px;
    text-align: center;
    margin: 0px 8px;
    border-radius: 4px;
    border: none;
}

.increment__pVZmd {
    &:hover {
        stroke-width: 3;
        cursor: pointer;
    }

    &:active {
        stroke-width: 3;
        stroke-opacity: 0.5;
    }
}

.cart-icon__Mf8a_ {
    margin-right: 8px;
}

.cart-button-with-increment__o5Gxy {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.button__QcLv0 {
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    height: 37px;
    padding: 8px 26px;
    cursor: pointer;
    width: max-content;
    &:active {
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
    }
}

.primary__rfHPw {
    background-color: var(--transparent-color-background);
    color: var(--primary-color-text);
    border: 2px solid var(--primary-color-border);
}
.secondary__OOJPp{
    background-color: var(--transparent-color-background);
    color: var(--secondary-color-text);
    border: 2px solid var(--secondary-color-border);
}
.info__MyykH{
    background-color: var(--info-color-background);
    color: var(--white-color-text);
    border: 2px solid var(--info-color-border);
}
.disabled__Vepr0{
    background-color: var(--secondary-color-background);
    color: var(--white-color-text);
    border: 2px solid var(--secondary-color-border);
    cursor: not-allowed;
    &:active {
        box-shadow: none;
    }
}
.full-width__IFnm5{
    width: 100%;
}

/*# sourceMappingURL=components-ShortCardProduct-ShortCardProduct-stories.css.map*/