@import url(https://fonts.cdnfonts.com/css/rubik);
:root{--max-width:1400px}.light-mode{--white-color-text: white;--white-color-border: white;--white-color-background: white;--primary-color-text: black;--primary-color-border: black;--primary-color-background: black;--secondary-color-text: #A2A6B0;--secondary-color-border: #A2A6B0;--secondary-color-background: #A2A6B0;--transparent-color-text: transparent;--transparent-color-border: transparent;--transparent-color-background: transparent;--info-color-text: #0156FF;--info-color-border: #0156FF;--info-color-background: #0156FF;--light-color-text: #F5F7FF;--light-color-border: #F5F7FF;--light-color-background: #F5F7FF;--grey-color-text: #CACDD8;--grey-color-border: #CACDD8;--grey-color-background: #CACDD8;--yellow-color-text: #FFB800;--yellow-color-border: #FFB800;--yellow-color-background: #FFB800;--success-color-text: #78a962;--success-color-border: #78a962;--success-color-background: #78a962;--primary-transparent-color-text: rgba(0, 0, 0, 0.5);--primary-transparent-color-border: rgba(0, 0, 0, 0.5);--primary-transparent-color-background: rgba(0, 0, 0, 0.5)}*{font-family:"Rubik",sans-serif;box-sizing:border-box;scrollbar-width:thin;scrollbar-color:var(--grey-color-background) var(--white-color-background)}div{color:var(--primary-color-text);background-color:var(--white-color-background)}*::-webkit-scrollbar{width:4px}*::-webkit-scrollbar-thumb{background-color:var(--grey-color-background);border-radius:50px}*::-webkit-scrollbar-track{background-color:invert(var(--grey-color-background))}.dark-mode{--white-color-text: black;--white-color-border: black;--white-color-background: black;--primary-color-text: white;--primary-color-border: white;--primary-color-background: white;--secondary-color-text: #A2A6B0;--secondary-color-border: #A2A6B0;--secondary-color-background: #A2A6B0;--transparent-color-text: transparent;--transparent-color-border: transparent;--transparent-color-background: transparent;--info-color-text: #fea900;--info-color-border: #fea900;--info-color-background: #fea900;--light-color-text: #F5F7FF;--light-color-border: #F5F7FF;--light-color-background: #F5F7FF;--grey-color-text: #CACDD8;--grey-color-border: #CACDD8;--grey-color-background: #CACDD8;--yellow-color-text: #FFB800;--yellow-color-border: #FFB800;--yellow-color-background: #FFB800;--success-color-text: #78a962;--success-color-border: #78a962;--success-color-background: #78a962;--primary-transparent-color-text: rgba(255, 255, 255, 0.5);--primary-transparent-color-border: rgba(255, 255, 255, 0.5);--primary-transparent-color-background: rgba(255, 255, 255, 0.5)}
.contacts__FAxcf{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color-background);
    color: var(--white-color-background);
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}
.wrapper__wcx0O{
    display: flex;
    width: 100%;
    max-width: var(--max-width);
    justify-content: space-between;
    background-color: var(--primary-color-background);
}
.primary-info__HBLwn{
    color:var(--white-color-background);
    margin-left:4px;
}
.secondary-info___rBSu{
    color: var(--secondary-color-background);
}
.theme-switch__mFyEr{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--transparent-color-background);
}
.settings__k5NMn{
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s linear;
    &:hover{
        stroke-width: 1;
        transform: rotate(180deg);
    }
    color: var(--white-color-background);
}
.modal-settings__FJL8P{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .switcher__RqoVr {
      display: flex;
      width: 40px;
      position: relative;
      align-items: center;
      cursor: pointer;
      user-select: none;
      transition: flex-direction 0.5s ease-in-out;
      border-radius: 50px;
      padding: 10px;
      box-sizing: border-box;
      background-color: var(--light-color-background);
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  }

  .active__p2GuO {
      background-color: var(--success-color-background);
  }

  .slider__oLW7h {
      position: absolute;
      height: 24px;
      width: 24px;
      background-color: var(--light-color-background);
      border-radius: 50%;
      border: 1px solid var(--secondary-color-background);
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;

  }

  .slider-deactive__Y7NqF {
      animation: deactivation_switcher__IPZmI 0.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }

  .slider-active__neTQT {
      animation: activation_switcher__KIUbC 0.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }

  @keyframes activation_switcher__KIUbC {

      0%,
      1% {
          left: 0px;
      }

      99%,
      100% {
          left: calc(100% - 24px);
      }
  }

  @keyframes deactivation_switcher__IPZmI {

      0%,
      1% {
          left: calc(100% - 24px);
      }

      99%,
      100% {
          left: 0px;
      }
  }
.overlay__BKNUf{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    background-color: var(--primary-transparent-color-background); 
    z-index: 10000;
}
.modal-content__X0FKK{
    display: block;
    position: relative;
    background-color: var(--white-color-background);
    border-radius: 8px;
    padding: 40px 16px 16px 16px;
    min-width: 200px;
    min-height: 200px;
}
.button-close__FCgnF{
    display: block;
    position: absolute;
    color:var(--primary-color-text);
    top:16px;
    right: 16px;
    border-radius: 100%;
    transition: 0.2s linear;
    cursor: pointer;
    &:hover{
        transform: rotate(180deg);
    }
}

/*# sourceMappingURL=main.css.map*/