.game-container{
    display: flex;
    position: relative;
    flex-direction: row;
    max-height: 50px;
    align-items: center;
}
.game-img-container{
    display: block;
    position: relative;
    height: 100%;
    border-radius: 8px;
}
.game-divider{
    opacity: 1;
    background-color: var(--grey-color-background);
    margin: 8px 0px !important;
}
.cart-total{
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding: 16px 0px;
}
.height-cart-item{
    height: 50px;
}