.product-cart-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    >hr {
        width: 100%;
        height: 1px;
        border: 1px solid var(--grey-color-background);
        background-color: var(--grey-color-background);
        color: var(--grey-color-background);
        margin: 24px 0px;
    }
}

.product-cart-info {
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    height: 120px;
}

.product-cart-info-img {
    height: 100%;
    width: 120px;

    >svg,
    img {
        width: 100%;
        height: 100%;
        stroke-width: 1;
        color: var(--secondary-color-text);
    }
}

.product-cart-name {
    display: block;
    width: 271px;
    margin: auto 12px auto 24px;
    text-align: justify;
}

.product-cart-price {
    display: block;
    width: 150px;
    margin: auto 12px auto 12px;
    text-align: left;
    font-weight: 600;
}

.product-cart-qty {
    display: flex;
    background-color: var(--light-color-background);
    width: 70px;
    height: 50px;
    align-self: center;
    border-radius: 6px;

    >input {
        border: none;
        background-color: var(--light-color-background);
        border-radius: 6px;
        font-size: 14px;
        font-weight: 600;
        line-height: 29.4px;
        text-align: center;
        width: 47px;
        height: 27px;
        align-self: center;
        padding: 0;

        &:active {
            border: none;
        }

        &:focus {
            border: none;
            outline: none;
        }
    }
}

.product-cart-qty-increment {
    align-self: center;
    display: flex;
    flex-direction: column;
    transition: 0.2s linear;

    >svg {
        cursor: pointer;
        color: var(--secondary-color-text);
        transition: 0.2s linear;

        &:hover {
            stroke-width: 3;
            cursor: pointer;
        }

        &:active {
            stroke-width: 3;
            stroke-opacity: 0.5;
        }
    }
}

.product-cart-controls {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
    padding-right: 12px;
    > svg{
        color: var(--secondary-color-text);
        height: 26.98px;
        width: 26.98px;
        cursor: pointer;
        &:last-child{
            margin-top: 6px;
        }
        &:hover{
            stroke-width: 3;
        }
    }
}