.header-container{
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;
    background: var(--white-color-background);
    padding: 8px;
    z-index: 9999;
    box-sizing: border-box;
}
.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    align-items: center;
}
.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.nav-link{
    text-decoration: none;
    border-bottom:3px solid var(--transparent-color-border);
    padding:4px;
    color: var(--primary-color-text);
}
.active-link{
    border-bottom:3px solid var(--primary-color-border) !important;
}